# Ignore the data folder and its contents
data_process/data/
twitter-huge.json.zip

twitter_data_token_by_topic/*.json

# Ignore any .log files in the root directory
*.log
*.DS_Store

scenarios_data/data/*.json